@media (max-width: 960px) {
  header {
    padding: 0;
    justify-content: space-around;
  }
  .logo p {
    font-size: 34px;
    transition: 0.2s;
  }
  .searchInput {
    display: none;
  }
  .cartSearchBtn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 140px;
  }
  .searchInputBtn {
    display: flex;
    align-items: center;
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  .openCartBtn {
    width: 40px;
    height: 40px;
  }
  .cardProduct {
    grid-template-columns: repeat(4, minmax(110px, 231px));
    grid-gap: 30px 30px;
  }
  .itemCart {
    top: 4px;
    right: -4px;
    width: 15px;
    height: 15px;
    font-size: 11px;
  }
  .slider__line__swipe__left,
  .slider__line__swipe__right {
    width: 35px;
    height: 35px;
    top: calc(50% - 17px);
  }
  .slider__line__swipe__left,
  .slider__line__swipe__right {
    width: 35px;
    height: 35px;
    top: calc(50% - 17px);
  }
  .closeModalSearchBtn {
    margin: 0px 20px 0px 0px;
  }
}
@media (max-width: 750px) {
  .logo p {
    font-size: 30px;
    transition: 0.2s;
  }
  .bestseller p {
    font-size: 30px;
    transition: 0.2s;
  }
  .cardProduct {
    grid-template-columns: repeat(2, minmax(210px, 331px));
    grid-gap: 30px 30px;
  }
  .prodPriceBtn button {
    font-size: 2vw;
  }
  .prodPriceBtn p {
    font-size: 3vw;
  }
  .modalBox {
    width: 400px;
  }
  .itemCart {
    top: 1px;
    right: -4px;
  }
  .slider__line__swipe__left,
  .slider__line__swipe__right {
    width: 20px;
    height: 20px;
    top: calc(50% - 10px);
  }
  .modalSearchBox input {
    width: 65%;
  }
}
@media (max-width: 492px) {
  .searchInputBtn {
    width: 40px;
    height: 40px;
  }
  .openCartBtn {
    width: 40px;
    height: 40px;
  }
  .logo p {
    font-size: 24px;
    transition: 0.2s;
  }
  .bestseller p {
    font-size: 24px;
    transition: 0.2s;
  }
  .cardProduct {
    grid-template-columns: repeat(2, minmax(110px, 231px));
    grid-gap: 10px 10px;
  }
  .prodPriceBtn button {
    font-size: 2vw;
  }
  .prodPriceBtn p {
    font-size: 4vw;
  }
  .modalBox {
    width: 300px;
  }
  .slider__line__swipe__right {
    left: 15px;
  }
  .slider__line__swipe__left {
    right: 15px;
  }
  .slider-dots-item-active {
    width: 10px;
    height: 10px;
  }
  .modalSearchBox input {
    width: 55%;
  }
  .card-img {
    width: 35%;
  }
}
@media(min-width: 320px) and (max-width:640px){
  .footer-info{display: flex;
  flex-direction: column;}}

@media(min-width: 320px) and (max-width:640px){
.group-one{
  display: flex;
  flex-direction: column;
}
}