* {
  padding: 0;
  margin: 0;
}
.boxWb {
  display: flex;
  flex-direction: column;
  align-items: center;
}
header {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(90deg, #cb11ab, #481173);
  padding: 20px 0;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.headerBox {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
input {
  margin: auto 0;
  width: 50%;
  height: 50px;
  font-size: 30px;
  padding: 0 30px;
  border: none;
  border-radius: 50px;
  background-color: rgba(240, 240, 243, 0.3);
}
::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.2);
  font-size: 24px;
  font-family: "Open Sans", sans-serif;
}
.searchInputBtn {
  width: 60px;
  height: 60px;
  background: none;
  border-style: none;
  display: none;
  cursor: pointer;
}
.searchInputBtn img {
  width: 100%;
}
input :active {
  border: none;
  border-style: none;
}
.openCartBtn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  font-size: 15px;
  color: rgb(184, 184, 184);
  background: none;
  border-style: none;
  cursor: pointer;
}
.openCartBtn img {
  width: 90%;
}
.logo {
  width: 20%;
  display: flex;
  justify-content: start;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
}
.logo p {
  color: white;
  font-size: 30px;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
}
.cartImg {
  width: 30%;
}
/* Модалка корзины_____________ */
.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 9998;
  background-color: rgba(0, 0, 0, 0.9);
  display: grid;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.4s, visibility 0.4s;
}
.modal.open {
  visibility: visible;
  opacity: 1;
}
.modalBox {
  width: 600px;
  min-height: 257px;
  max-height: 700px;
  background: white;
  padding: 30px;
  z-index: 1;
  margin: 30px 15px;
  border-radius: 10px;
  transform: scale(0);
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
.closeModalBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border-radius: 50%;
}
.modal.open .modalBox {
  transform: scale(1);
}
.product {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.productItogoBtn {
  width: 100px;
  height: 50px;
  font-size: 16px;
  font-weight: 600;
  color: white;
  background: linear-gradient(102.42deg, #da15b8 20.69%, #8d06cc);
  border: none;
  border-radius: 12px;
}
.productItogo {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}
.productItogo p {
  font-size: 20px;
  font-weight: 500;
}
.modalCartGeneration {
  margin: 10px 0;
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: row;
}
.btnCart {
  width: 80px;
  display: flex;
  justify-content: space-between;
  background: #cb11ab;
  border-radius: 5px;
}
.btnCart p {
  color: white;
}
.modalCartGenerationImg {
  width: 100px;
  height: 150px;
  border-radius: 10px;
  margin-right: 10px;
}
.namePriceProd {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.nameProduct {
  margin-right: 10px;
}
.prodPrice {
  width: 87px;
  text-align: end;
}
.cartText {
  margin-top: 10px;
}
.cartText.none {
  display: none;
}
.productItogo.none {
  display: none;
}
/* модалка инпута____________ */
.modalSearch {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 9998;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.4s, visibility 0.4s;
}
.modalSearch.open {
  visibility: visible;
  opacity: 1;
}
.modalSearchBox {
  padding-top: 10px;
  width: 100%;
  height: 100vh;
  background: white;
  z-index: 1;
  border-radius: 10px;
  transform: scale(0);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}
.closeModalSearchBtn {
  color: #cb11ab;
  height: 50px;
  width: 10%;
  border: none;
  background: white;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
}
.modalSearchBox input {
  width: 75%;
  height: 50px;
  border: 1px solid black;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.1);
  border: none;
}
.modalSearch.open .modalSearchBox {
  transform: scale(1);
}

/* слайдер___________ */
.slider {
  max-width: 97%;
  margin: 20px auto 0px;
  overflow: hidden;
  position: relative;
}
.slider__line {
  width: 100%;
}
.slider-image {
  width: 100%;
  border-radius: 15px;
  animation: appear 0.5s alternate;
}

@keyframes appear {
  from {
    opacity: 0.5;
    transform: scale(0.96);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.swipeLeft {
  position: relative;
  z-index: 1;
  width: 100px;
  height: 50px;
  border: 4px solid black;
}
.swipeRight {
  position: relative;
  z-index: 1;
  width: 100px;
  height: 50px;
  border: 4px solid black;
}
/* модалка товара____________ */
.modalProduct {
  position: fixed;
  left: 0;
  top: 100px;
  width: 100%;
  height: 89vh;
  z-index: 9998;
  display: grid;
  justify-content: center;
  overflow-y: auto;
  visibility: hidden;
  opacity: 0;
}
.modalProduct.open {
  visibility: visible;
  opacity: 1;
}
.cardBox {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
}
.img1 {
  width: 300px;
  height: 500px;
  border-radius: 10px;
  border: 5px solid rgb(255, 255, 255);
  -webkit-box-shadow: 4px 4px 8px 14px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 4px 4px 8px 14px rgba(34, 60, 80, 0.2);
  box-shadow: 4px 4px 8px 14px rgba(34, 60, 80, 0.2);
}
.clsBtn {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0;
  right: 300px;
}
/* Товар_____________ */
.imageURL2 {
  display: none;
}
.imageURL3 {
  display: none;
}
.imageURL4 {
  display: none;
}
.bestseller {
  width: 90%;
}
.bestseller p {
  margin: 10px;
  font-size: 36px;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
}
.cardProduct {
  width: 100%;
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(5, minmax(150px, 261px));
  grid-gap: 50px 30px;
}
.cardProductId {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.prodPriceBtn {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}
.prodPriceBtn button {
  height: auto;
  font-weight: 400;
  font-size: 1vw;
  font-family: "Open Sans", sans-serif;
  padding: 5px 11px 6px;
  border-radius: 6px;
  background-color: #cb11ab;
  color: white;
  border: none;
  cursor: pointer;
}
.prodPriceBtn p {
  font-size: 1.3vw;
  font-family: "Open Sans", sans-serif;
}
.cardProductId img {
  width: 80%;
}
/* Ну тут понятно_____________ */
footer {
  margin-top: 30px;
  padding: 20px, 10px;
  width: 100%;
  height: 400px;
  background: #481173;
}
footer p {
  margin-top: 50px;
  color: white;
}
